# Виртуальные окружения
venv/
env/
__pycache__/
*.pyc

# Poetry
.cache/
.build/
dist/
*.egg-info/
poetry.lock

# FastAPI / Uvicorn / Logs
.uvicorn*
*.log
*.pot
*.pyc
*.pyo
*.pyd

# PyTorch / модели
.ipynb_checkpoints/
__pycache__/
*.pth
*.pt
*.ckpt

# VSCode / PyCharm / IDE
.idea/
.vscode/
*.swp
*.swo

# Тесты
.pytest_cache/
coverage.xml
htmlcov/

# Docker
Dockerfile.local
*.out

# OS Generated
.DS_Store
Thumbs.db